<body>
  <h2>Entrega de Lucia Castanyera</h2>

  <h2 class="titulo">Personajes de disney</h2>

  <div class="search-container">
    <app-castanyera-search-bar-name (search)="onSearchName($event)"></app-castanyera-search-bar-name>
    <app-castanyera-search-bar-peli
      (search)="onSearchMedia($event)"
    ></app-castanyera-search-bar-peli>
  </div>

  <div class="card-container">
    <app-castanyera-cards
      *ngFor="let personaje of filteredCharacters.length ? filteredCharacters : personajes"
      [personaje]="personaje"
    ></app-castanyera-cards>
  </div>
</body>
