/* Styles for CastanyeraComponent */
h2 {
  color: #972a73;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  margin-bottom: 50px;;
}

body{
  background-color: #dacdd3;
  height: 100%;
  width: 100%;
  padding: 50px;
  border-radius: 15px;
}

/* Container grid for cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  /* stretch items so they all match the row height */
  align-items: stretch;
  padding: 8px 0;
}
