
.card {
  max-width: 320px;
  margin: 0 auto;
  height: 500px;
  width: 250px;
}

.card img[mat-card-image] {
  width: 100%;
  max-height: 150px;
  object-fit: fill;
  display: block;
}

.card mat-card-content p {
  margin: 6px 0;
  font-size: 0.95rem;
}

mat-card-header {
  height: 80px;
  align-items: center;
  text-align: center;
}
